.espaco
{
    width: 100%;
    margin-left: 40%;
    margin-right: 40% ;
    margin-top: 5%;
   
}


.viso 
{
    background-color: green;
    width: 100%;
}


.cor
{
    background-color: lightslategray;
    
    
    
    

}
